:root{
  --header-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

a{
  color: white;
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  color: white;
}

html{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.header__wallpaper{
  height: 72px;
  width: auto;
  background: var(--header-color); //Color Header
}

.header__container{
  max-width: 1280px;
  height: 72px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
}

.header__container-left{
  width: 640px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header__container-left-burger-menu:hover{
  opacity: 0.3;
}


.header__container-left-search-bar{
  width: 450px;
  height: 36px;
  margin-left: 0.03em;
  border: 2px solid white;
  border-radius: 20px;
  background: transparent;
}

.header__container-left-search-bar-position{
  position: relative;
}


.header__container-left-search-bar-ico{
  position: absolute;
  right: 15px;
  top: 20%;
}



.header__container-right {
  width: 640px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__container-right-cam-ico{
  margin-left: 16px;
}
.header__container-right-cam-ico:hover{
  opacity: 0.3;
}

.header__container-right-logo{
  color: white;
  font-size: 40px;
  font-family: 'Rozha One', serif;
  margin-top: 15px;
  cursor: pointer;
}

.header__container-right-container-ico{
  width: 95px;
  display: flex;
  justify-content: space-between;
}

.header__container-right-logo:hover{
  background: rgb(255,82,82);
  background: linear-gradient(100deg, rgba(255,82,82,1) 0%, rgba(253,196,82,1) 50%, rgba(252,255,82,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__container-right-korzina:hover{
  opacity: 0.3;
}

.header__container-right-profile:hover{
  opacity: 0.3;
}

.header__container-left-search-bar-ico:hover{
  opacity: 0.3;
}


.burgermenu__container{
  max-width: 1280px;
  min-height: 500px;
  margin: 0 auto;
  display: flex;
  background-color: rgba(0,0,0,0.9);
  border-radius: 0 0 10px 10px;
  flex-wrap: wrap;
  padding: 0 20px;
}

.burgermenu__container-search-position{
  position: relative;
}

.burgermenu__container-search-position-center{
  margin: 0 auto;
  margin-top: 20px;
  height: 2px;
}

.burgermenu__container-search{
  width: 450px;
  height: 36px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: transparent;
  margin: 0 auto;

}

.burgermenu__container-search-ico{
  position: absolute;
  right: 15px;
  top: 8px;
}

.burgermenu__container-text{
  margin-top: 60px;
  color: white;
  margin-left: 10px;
}


.burgermenu__container-goods{
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 100px;
}

.burgermenu__container-goods-content{
  display: flex;
  justify-content: space-evenly;
}

.burgermenu-status{
  transition-duration: 0.4s;
  transform: translate(-200%, 0);
}

.burgermenu--active{
  transition-duration: 0.4s;
  transform: translate(0, 0);
}

.burgermenu__container-goods-content-container-sumka{
  width: 180px;
}